{% extends 'frontend/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

{% include 'frontend/components/navigator.html.twig' %}

<div class="uk-section uk-section-large uk-position-relative background-primary-1-2">

  <div class="uk-container tm-container-medium">

    <div class="uk-child-width-1-2@m uk-text-center uk-grid-large uk-flex uk-flex-middle" uk-grid>

          <div>
            <div class="uk-position-relative">
              <a href="" class="hover-down">
                <div class="uk-box-shadow-large" uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true">
                  <img uk-img src="{{ asset('https://images.unsplash.com/photo-1512479373983-bd28a541041b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=650710c551777ce8c2d60410e012aab9&auto=format&fit=crop&w=1534&q=80') }}" alt="">
                  <div class="img-overlay"></div>
                </div>
                       </a>
            </div>
          </div>
          <div>
            <div class="uk-text-center uk-text-right@m">
                <div class="uk-margin-auto uk-width-large uk-text-left@m">
                  <div class="service-container">
                    <p class="tag-section uk-margin-remove">Jurídico</p>
                    <h1 class="title uk-margin-small">Derecho Civil</h1>
                    <p class="content-description uk-margin-remove">
                      Para nadie es una sopresa que la mayor parte de nuestra vida la pasamos trabajando. Es por eso que el derecho laboral se ha vuelto fundamental en nuestra sociedad. Queremos acompañarte ya sea si eres un trabajador o un empleador, brindándote asesoría para que conozcas tus derechos y tus obligaciones. Trabajemos juntos solucionando y evitando inconvenientes en esta materia, nuestro equipo de profesionales te brindará soluciones personalizadas y eficaces.
                    </p>
                    <div class="uk-section uk-section-small">
                      <div>
                        <ul uk-accordion>
                <li class="uk-open">
                    <a class="uk-accordion-title" href="#"><h4>Juicios Ejecutivos- Juicios Sumarios-Juicios Ordinarios</h4></a>
                    <div class="uk-accordion-content">
                      <ul class="uk-list uk-list-divider">
  <li><p>Arriendos</p></li>
  <li><p>Precario</p></li>
  <li><p>Demandas por indemnización por daño moral</p></li>
</ul>
                    </div>
                </li>
                <li>
                    <a class="uk-accordion-title" href="#"><h4>Gestiones voluntarias</h4></a>
                    <div class="uk-accordion-content">
                      <ul class="uk-list uk-list-divider">
  <li><p>Extravío de documentos bancarios</p></li>
  <li><p>Posesiones efectivas</p></li>
  <li><p>Interdicción por demencia</p></li>
</ul>
                    </div>
                </li>
                <li>
                    <a class="uk-accordion-title" href="#"><h4>Prescripciones Comerciales</h4></a>
                </li>
                <li>
                    <a class="uk-accordion-title" href="#"><h4>Estudio de Títulos</h4></a>
                </li>
                <li>
                    <a class="uk-accordion-title" href="#"><h4>Posesiones Efectivas Intestadas</h4></a>
                </li>
            </ul>
                      </div>
                    </div>

                                   </div>
                </div>
            </div>
          </div>

       </div>

  </div>

</div>

<div class="uk-section uk-section-large uk-background-cover">

  <div class="uk-container tm-container-medium">

    <div class="uk-child-width-1-2@m uk-text-center uk-grid-large uk-flex uk-flex-middle" uk-grid>

          <div>
            <div class="uk-position-relative">
              <a href="" class="hover-down">
                <div class="uk-box-shadow-large" uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true">
                  <img uk-img src="{{ asset('https://images.unsplash.com/photo-1515964706864-faa7c0b67b99?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5ecbcc662b3fa3eb5743493ac6e4bfdb&auto=format&fit=crop&w=1534&q=80') }}" alt="">
                    <div class="img-overlay"></div>
                </div>
                       </a>
            </div>
          </div>
          <div class="uk-flex-first@m">
            <div class="uk-text-center uk-text-right@m">
                <div class="uk-margin-auto uk-width-large uk-text-left@m">
                  <div class="service-container">
                    <p class="tag-section uk-margin-remove">Jurídico</p>
                    <h1 class="title uk-margin-small">Derecho de Familia</h1>
                    <ul class="uk-list uk-list-divider">
                        <li><p>Divorcios</p></li>
                        <li><p>Cuidado personal</p></li>
                        <li><p>Relación directa y regular</p></li>
                        <li><p>Mediación Familiar</p></li>
                        <li><p>Protección de bienes</p></li>
                        <li><p>Liquidación de bienes Sociedad Conyugal</p></li>
                    </ul>
                </div>
                </div>
            </div>
          </div>

       </div>

  </div>

</div>

<div class="uk-section uk-section-large uk-position-relative background-primary-1-2">

  <div class="uk-container tm-container-medium">

    <div class="uk-child-width-1-2@m uk-text-center uk-grid-large uk-flex uk-flex-middle" uk-grid>

          <div>
            <div class="uk-position-relative">
              <a href="" class="hover-down">
                <div class="uk-box-shadow-large" uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true">
                  <img uk-img src="{{ asset('https://images.unsplash.com/photo-1487379595640-f04ccae706cd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d100737d8742dbc723a443f9f0f8dbd8&auto=format&fit=crop&w=1868&q=80') }}" alt="">
                  <div class="img-overlay"></div>
                </div>
                       </a>
            </div>
          </div>
          <div>
            <div class="uk-text-center uk-text-right@m">
                <div class="uk-margin-auto uk-width-large uk-text-left@m">
                  <div class="service-container">
                    <p class="tag-section uk-margin-remove">Jurídico</p>
                    <h1 class="title uk-margin-small">Modificación de Sociedades</h1>
                    <ul class="uk-list uk-list-divider">
                        <li><p>Modificación del objeto social</p></li>
                        <li><p>Ingreso o retiros de socios</p></li>
                        <li><p>Cambios en el representante legal</p></li>
                        <li><p>Rectificaciones de Información</p></li>
                        <li><p>Cambios o ampliaciones de giro</p></li>
                        <li><p>Reformas en los estatutos</p></li>
                        <li><p>Modificación en el capital social</p></li>
                        <li><p>Migraciones</p></li>
                        <li><p>Transformaciones</p></li>
                    </ul>

                                   </div>
                </div>
            </div>
          </div>

       </div>

  </div>

</div>

{% include 'frontend/components/footer.html.twig' %}

{% endblock %}
